#map{height:450px;
display:flex}

body{
background-color:lightgray;
}

#dropZone{
width:200px;
height:50px;
}

.content{
margin-top:140px;
color:rgb(230,218,200);
background-color:black;
}

.navbarTop{
height:140px;
width:100%;
position:fixed;
top:0;
left:0;
background-color:#21192b;
overflow-x:hidden;
}

.layersDisplay{
background-color:rgb(115,115,115);
cursor:grab;
}

.layersDisplayLayer{
background-color:#474050;
display:flex;
margin-top:2px;
margin-bottom:2px;
}

#settings{
position:fixed;
display:flex;
bottom:20px;
right:220px;
}
